*{
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
   
    justify-content: center;
  }
  
  .divSearch{
      text-align: center;
  }
  
  #textoPesquisa{
      text-align: center;
      padding: 3px;
      
  }
  
  
  .divs{
      display: inline-block;
      vertical-align: top;
      overflow-wrap: break-word;
      box-sizing: border-box;
      margin: 5%;
      background-color: #F8F9FA;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 20px 20px 50px -10px #AEAEAE;
  }
  
  .divs > details:hover{
      cursor: pointer;
      color: green;
  }
  